:root {
    --white: white;
    --black: black;
    --dark_grey: #2E2E2E;
    --light_brown: #D3B47F;
    --light_grey: #E7E7E7;
    --dark_grey: #808080;
    --dark_blue: #3A4574;
    --modal-rgba: rgba(0, 0, 0, 0.5);
    --box-shadow: rgba(0, 0, 0, 0.2);
}